<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ansible Activity Stream Report</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
      background-color: #f4f4f4;
    }
    h2 {
      color: #333;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    }
    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      font-size: 14px;
    }
    th {
      background-color: #007BFF;
      color: white;
    }
    tr:hover {
      background-color: #f1f1f1;
    }
    .footer {
      font-size: 12px;
      color: #888;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h2>Ansible Automation Platform - Activity Stream Report</h2>
  <p>Report generated on {{ ansible_date_time.date }} at {{ ansible_date_time.time }}.</p>

  <table>
           <thead>
            <tr>
                <th>SR No</th>
                <th>initiated By</th>
                <th>Summary</th>
                
            </tr>
        </thead>
        <tbody>
        {% for job in activity_stream.json.results %}
          <tr>
                <td> {{ job.id }}</td>
                 <td> {{ job.summary_fields.actor.username
                 if job.summary_fields.actor is defined and job.summary_fields.actor.username is defined
                else (job.action.username if job.action is defined and job.action.username is defined else 'System') }}</td>
                  <td> {{ job }}</td>
          </tr>
        {% endfor %}
        </tbody>
  </table>

  <div class="footer">
    © {{ ansible_date_time.year }} Ansible Automation Platform Report
  </div>
</body>
</html>
